@use "../../sass/variables" as *;

.file {
  font-size: 14px !important;
  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    transition: $main-transition;
    &:hover {
      transform: rotate(5deg);
    }
  }
  .file-name {
    font-size: inherit !important;
  }
}
