@use "../../sass/variables" as *;

.scroll-to-top {
  cursor: pointer;
  inset-inline-end: 0;
  background-color: $orange-color;
  transition: $main-transition;
  animation: flash $main-transition linear;
  &:hover {
    background-color: $blue-alt-color;
  }
}
