@use "./variables" as *;

.main_btn {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
  border-radius: 0.375rem !important;
  text-align: center !important;
  width: 80px !important;
  color: #fff !important;
  margin-inline-start: auto !important;
  background-color: $blue-color !important;
  &:hover {
    background-color: $blue-alt-color !important;
  }
}
