@use "./variables" as *;

body {
  font-family: "Open Sans", sans-serif !important;
  background-color: #f1f5f9 !important;
}
*::selection {
  background-color: $blue-color;
  color: #fff;
}
textarea {
  height: 150px;
  resize: none !important;
}
