@use "../../sass/variables" as *;

.side-bar {
  width: 250px;
  min-height: 100vh;
  &.vh-100 {
    border-radius: 0 !important;
  }
  @media (max-width: 767px) {
    width: fit-content;
  }
  .title {
    @media (max-width: 767px) {
      font-size: 1rem !important;
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      background-color: #000;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
      @media (max-width: 768px) {
        display: none;
      }
    }
    &::after {
      width: 80px;
      height: 2px;
    }
    &::before {
      width: 13px;
      height: 13px;
      border-radius: 50%;
      border: 3px solid #fff;
      z-index: 2;
    }
  }
}
