@use "../../sass/variables" as *;

.welcome {
  padding: 0 !important;
  .intro {
    background-color: $light-color;
    margin-bottom: calc(1.5rem + 30px);
    img.welcome-image {
      width: 200px;
    }
    .avatar-image {
      width: 60px;
      height: 60px;
    }
  }
  .main_btn {
    margin-inline-end: 1rem;
  }
}
