@use "../../sass/variables" as *;

.welcome {
  padding: 0 !important;
  .intro {
    background-color: $light-color;
    margin-bottom: calc(1.5rem + 30px);
    img.welcome-image {
      width: 200px;
    }
    .avatar-image {
      width: 60px;
      height: 60px;
    }
  }
  a {
    width: fit-content;
    margin-inline-start: auto !important;
    background-color: $blue-color;
    &:hover {
      background-color: $blue-alt-color;
    }
  }
}
