@use "../../sass/variables" as *;

.friend-contact {
  svg {
    transition: $main-transition;
    background-color: $light-color;
    cursor: pointer;
    &:hover {
      background-color: $blue-color !important;
      color: #fff;
    }
  }
}
