@use "../../sass/variable" as *;

@mixin type_style($color) {
  &::after,
  &::before {
    background-color: $color;
  }
}

.reminder-item {
  padding-inline-start: 3rem;
  &:after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &::after {
    width: 18px;
    height: 18px;
    inset-inline-start: 0;
    border-radius: 50%;
  }
  &::before {
    height: 80%;
    width: 2px;
    inset-inline-start: 2rem;
  }
  &.red {
    @include type_style($red-color);
  }
  &.blue {
    @include type_style($blue-color);
  }
  &.green {
    @include type_style($green-color);
  }
  &.orange {
    @include type_style($orange-color);
  }
}
