@use "../../sass/variables" as *;

.step {
  padding-inline-start: 2.3rem;
  &::after,
  &:not(:last-child)::before {
    content: "";
    position: absolute;
  }
  &::after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    inset-inline-start: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #fff;
    outline: 2px solid $blue-color;
  }
  &:not(:last-child)::before {
    width: 2px;
    background-color: $blue-color;
    height: 100%;
    inset-inline-start: 10px;
    top: 18px;
    transform: translateX(-50%);
    [dir="rtl"] & {
      transform: translateX(50%);
    }
  }
  &.done::after {
    background-color: $blue-color;
  }
  &.active::after {
    animation: change-bg 0.7s linear infinite alternate;
  }
}
