@mixin brand_color($color) {
  background-color: rgba($color, 0.2);
  .text {
    color: $color;
  }
  .icon,
  a {
    background-color: $color;
  }
}

.social-item {
  .icon {
    width: 60px;
    height: 60px;
    border-start-start-radius: 0.375rem;
    border-end-start-radius: 0.375rem;
  }
  a {
    font-size: 13px;
    width: 80px;
    margin-inline-start: auto;
    margin-inline-end: 1rem;
  }
  &.twitter {
    @include brand_color(#1da1f2);
  }
  &.facebook {
    @include brand_color(#1877f2);
  }
  &.youtube {
    @include brand_color(#ff0000);
  }
  &.linkedin {
    @include brand_color(#0a66c2);
  }
}
