@mixin brand_color($color) {
  background-color: rgba($color, 0.2);
  .text {
    color: $color;
  }
  .icon,
  .main_btn {
    background-color: $color !important;
    border-color: $color !important;
  }
}

.social-item {
  .icon {
    border-start-start-radius: 0.375rem;
    border-end-start-radius: 0.375rem;
  }
  .main_btn {
    font-size: 13px !important;
    margin-inline-end: 1rem;
  }
  &.twitter {
    @include brand_color(#1da1f2);
  }
  &.facebook {
    @include brand_color(#1877f2);
  }
  &.youtube {
    @include brand_color(#ff0000);
  }
  &.linkedin {
    @include brand_color(#0a66c2);
  }
}
