@use "../../sass/variables" as *;

.avatar {
  border-inline-end: 1px solid #dee2e6;
  @media (max-width: 991px) {
    border: 0 !important;
  }
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .progress {
    height: 6px;
    @media (max-width: 991px) {
      width: 50%;
    }
    .progress-bar {
      border-radius: inherit;
    }
  }

  .rating {
    .stars {
      color: $orange-color;
      svg {
        margin-inline-end: 0.25rem;
      }
    }
    span {
      font-size: 14px;
    }
  }
}
