@use "../../sass/variables" as *;

.news {
  &:not(:last-child) {
    border-bottom: 1px solid $light-color;
  }
  .content {
    @media (min-width: 768px) {
      text-align: start !important;
    }
  }
  img {
    width: 100px;
  }
  .date {
    background-color: $light-color;
    @media (min-width: 768px) {
      margin-inline-start: auto;
    }
  }
}
